#logo {
	border: 1px solid black;
}

#badgeImage {
	border: 1px solid black;
}

#customerName {
	border: 1px solid black;
}

#nameEnter {
	border: 1px solid black;
}

#unitPrice {
	border: 1px solid black;
}

#unitPriceEnter {
	border: 1px solid black;
}

ol li {
	border: 1px solid black;
}

#total {
	border: 1px solid black;
}