body {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-image: url(../images/header_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	width: 1200px;
	color: white;
}

.Relaxr01 {
	font-weight: 800;
	font-size: 24px;
	padding: 50px 50px 150px 150px;
}

h2 {
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 0px 0px 100px 0px;
}

.GetItNow {
	font-weight: 800;
	font-size: 14px;
	text-align: center;
	margin: auto;
	width: 180px;
	color: #606161;
	background-color: #f9e42e;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
}

.GetItNow a {
	color: #606161;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
	border-radius: 5px;
}

.GetItNow a:hover{
	background-color: #606161;
	color: #f9e42e;
	width: 180px;
	border-radius: 5px;
	padding: 7px 51px 8px 51px;
}

.Benefits_Section{
	background-color: lightgray; /*color #606161 is too dark*/
	width: 1200px;
}

.Benefits {
	background-color: lightgray; /*color #606161 is too dark*/
	font-weight: 600;
	font-size: 20px;
	font-color: #606161;
	padding: 50px 50px 25px 150px;
}

.Column_Left {
	background-color: lightgray; /*color #606161 is too dark*/
	float: left;
	width: 700px;
	height: 200px;
	box-sizing: border-box;
}

.Column_Right {
	background-color: lightgray; /*color #606161 is too dark*/
	float: right;
	width: 500px;
	min-height: 200px;
	box-sizing: border-box;
}

p {
	font-weight: 300;
	font-size: 13px;
	padding: 10px 150px 10px 150px;
	line-height: 1.5em;
}

ul {
	font-weight: 300;
	font-size: 13px;
	padding: 10px 120px 10px 120px;
	list-style-type: disc;
	list-style-position: inside;
}

ul li {
	padding-bottom: 10px;
	text-indent: 50px;
}

.Quote_Section {
	background-image: url(../images/testimonial_bg.jpg);
	float: left;
	clear: both;
	background-repeat: no-repeat;
	width: 1200px;
	height: 394px;
}

.Quote {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	color: lightgray;
	text-align: center;
	line-height: 1.5em;
	padding: 120px 400px 5px 400px;
}

.Author {
	font-weight: 600;
	font-size: 18px;
	color: lightgray;
	text-align: center;
	line-height: 1.5em;
	padding: 5px 400px 150px 400px;
}

.Sign_Up_Now_Box {
	background-color: #f9e42e;
	border: 1px solid yellow;
	padding: 25px 0px 25px 0px;
}

.Sign_Up_Now {
	background-color: #033048;
	font-weight: 800;
	font-size: 12px;
	text-align: center;
	margin: auto;
	width: 180px;
	border-radius: 5px;
	padding: 10px 0px 10px 0px;
}

.Sign_Up_Now a {
	color: white;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
	border-radius: 5px;
}

.Sign_Up_Now a:hover{
	background-color: white;
	color: #033048;
	width: 180px;
	border-radius: 5px;
	padding: 7px 49px 8px 49px;
}

.Relaxr02 {
	background-color: #121212; 
	color: #f9e42e;
	font-weight: 800;
	font-size: 24px;
	text-align: center;
	padding: 50px 0px 200px 0px;
}

footer {
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	color: white;
	width: 1200px;
	padding-top: 780px;
}

.twitter_logo {
	display: inline-block;
	padding: 20px 20px 20px 7px;
}

.facebook_logo {
	display: inline-block;
	padding: 20px 20px 20px 33px;
}

.footer_text {
	display: block;
	padding-top: 40px;
}