html{
	background-color: blue;
	height: 100%;	/*makes the html the height of your browswer*/
}
body{
	background-color: beige;
	width: 75%;
	min-height: 100%; /*makes the body at least as high as the html tag*/
	margin: 0 auto; /*makes top-bottom 0 px, left-right split automatically*/
	padding: 0 20px; /*pushes body away from html*/
} 
nav{
	background-color: green;
	padding: 20px;
	border-radius: 10px; /*rounded corners*/
	width: 50%; /*50% of body tag*/
	margin: 0 auto; /*same trick as for body*/
	text-align: center; /*centers the links in the nav tag*/
}
nav a{
	/*only applies to <a> tages inside a <nav> tag*/
	color: yellow;
	text-decoration: none; /*removes default link underline*/
	padding: 5px;
}
nav a:hover{
	/*pseudo-tag - css applied when hovering over <a> inside a <nav>*/
	background-color: yellow;
	color: green;
	border-radius: 5px;
}
a{
	
}
h1{}
p{}
