html{
	height: 100%;	/*makes the html the height of your browswer*/
}

body{
	background-color: beige;
	width: 100%;
	min-height: 100%; /*makes the body at least as high as the html tag*/
	margin: 0 auto; /*makes top-bottom 0 px, left-right split automatically*/
	padding: 0px 0px 0px 0px; /*pushes body away from html*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
} 

.container {width: 80%; margin: auto;}

nav{
	background-color: beige;
	padding: 20px 20px 20px 20px;
	text-align: right; /*aligns the links to the right in the nav tag*/
}

nav a{
	/*only applies to <a> tags inside a <nav> tag*/
	color: gray;
	text-decoration: none; /*removes default link underline*/
	padding: 5px;
}

nav a:hover{
	/*pseudo-tag - css applied when hovering over <a> inside a <nav>*/
	background-color: gray;
	color: beige;
	border-radius: 3px;
}

img{
	display: block; /*these three lines puts image in the center of the page*/
	margin-left: auto;
	margin-right: auto;

	padding-top: 50px;
	padding-bottom: 50px;
}

a{
	color: gray;
	text-decoration: none; /*removes underline*/
}

h1{
	color: gray;
}

p{
	color: gray;
	padding: 0px 0px 0px 0px;
}

footer {
	color: gray;
	font-size: 75%;
	text-align: right;
	padding-top: 80px;
	padding-right: 20px;
	padding-bottom: 20px;
}