html{
	background:lightgray;
	height:100%;
}
body{
	background: white;
	width:90%;
	margin:20px auto;
	min-height:90%;
}

header{
	font-size: 48px;
	color: gray;
	padding:20px;
}
nav{
	text-align: center;
	padding: 20px;
}

nav ul li{display:inline;}

img{
	float:right;
	padding-left:10px;
}

div{
	margin:10px;
	padding:20px;
	background-color: lightgray;
	border-radius: 10px;
	margin-bottom:10px;
	overflow:auto;
}

/*css magic sauce for single page app*/
#divPage2, #divPage3, #divPage4 {
	display: none;
}